*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: darkgray;
  font-family:'Times New Roman', Times, serif;

}
.commits{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 100px;
  padding: 30px;
  color: white;

  text-align: center;
}

.commit{
  background-color: dimgrey;
  padding: 30px;
  margin: 20px 0;
  border-radius: 12px;
  position: relative;
}

.commit:hover{
  background-color: rgb(66, 66, 66);
}

.commit__repo{
  text-align: left;
}

.commit__numOfCommits{
  text-align: right;
  position: absolute;
  top: 40px;
  right: 40px;
}

